@model waEligeTuPremio.Models.SP_GetPremio


@Scripts.Render("~/bundles/jqueryval")

@*<script type="text/javascript">
            //script para poner el focus del modal en un componente
            $(document).ready(function () {
                $("#modalGenerica").on('shown.bs.modal', function () {
                    $(this).find('#vchUsuario').focus();
                });
            });
    </script>*@

<section>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-shadow">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 style="text-align:center;">@ViewBag.Title</h4>
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.intCodigoSAP)
            <div class="panel-body">
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.intCodigoSAP, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.intCodigoSAP, new { @class = "form-control input-sm", id = "vchUsuario", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.intCodigoSAP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.intCodigoCorto, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.intCodigoCorto, new { @class = "form-control input-sm", id = "vchUsuario", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.intCodigoCorto, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="form-group">
                        @Html.LabelFor(model => model.intOrden, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.intOrden, new { @class = "form-control input-sm", id = "intCodigoSAP", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.intOrden, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.vchTitulo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.vchTitulo, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.vchTitulo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.vchDescripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.vchDescripcion, new { @class = "form-control input-sm", @style = "height:80px;" })
                            @Html.ValidationMessageFor(model => model.vchDescripcion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        @Html.LabelFor(model => model.smintStock, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.smintStock, new { @class = "form-control input-sm" })
                            @Html.ValidationMessageFor(model => model.smintStock, "", new { @class = "text-danger" })
                        </div>

                        @*@Html.LabelFor(model => model.smintPuntos, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.smintPuntos, new { @class = "form-control input-sm" })
                    @Html.ValidationMessageFor(model => model.smintPuntos, "", new { @class = "text-danger" })
                </div>*@

                        @Html.LabelFor(model => model.bitActivo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-1">
                            @Html.EditorFor(model => model.bitActivo)
                            @Html.ValidationMessageFor(model => model.bitActivo)
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Salir
                </button>
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    }
</section>



