@model IEnumerable<waEligeTuPremio.Models.SP_GetPremio>

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 150px;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }

    /*css param subir archivo*/
    .btn-file {
        position: relative;
        overflow: hidden;
    }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            cursor: inherit;
            display: block;
        }
</style>

<div class="panel panel-default">
    <div class="panel-heading text-center">Subir lista de Premios</div>
    <div class="panel-body">

        <div class="row">

            @*<div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Eliminar Plan</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p>Para Eliminar Plan actual de Premios presione el boton Eliminar.</p>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModalDelete">
                                Eliminar Plan
                            </button>*@

            @*modal*@
            @*<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                                    <div class="modal-dialog modal-sm" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">Confirmar eliminar Plan GANAMAS</h4>
                                            </div>
                                            <div class="modal-body">
                                                Desea eliminar el Plan de Ganamas actual? <span><b>  </b></span>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                <input type="submit" value="Si" class="btn btn-default" style="background-color:white; color:black;" id="btnEliminar" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

            <div class="col-md-6">

                <div class="panel panel-default">
                    <div class="panel-heading text-center">Archivo de Premios</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Seleccione el archivo Excel con la lista de Premios.</p>
                            </div>
                        </div>

                        @using (Html.BeginForm("DownloadFile", "Premios", FormMethod.Post))
                        {
                            <div class="row">
                                <div class="col-md-7"></div>
                                <div class="col-md-2">
                                    <button class="btn btn-default" style="vertical-align:middle" value="Descargar" name="Command">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                        Descargar Formato
                                    </button>
                                </div>
                            </div>
                        }

                           
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <span class="btn btn-default btn-file">
                                        Seleccionar Archivo <input name="excel" type="file" id="FileUpload1" accept=".xlsx">
                                    </span>
                                </div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default" id="btnImportar">Subir Premios</button>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-2">
                                    <button type="button" class="btn btn-default" id="btnAlta">Alta Premios</button>
                                </div>

                            </div>
                            <br />
                        </div>
                    </div>
                </div>

            </div>

        </div>

        @if (Model.Count() > 0)
        {
            <div class="row">
                <div class="col-md-12">

                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Descripción del Programa Ganamás </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-10">
                                            <h4><b>Plan: @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().vchPlan)</b></h4>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <b>Inicio y Fin de Campaña Calificación</b><br />
                                            <div class="col-md-10">
                                                C @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().smintCampIniPremio)
                                                _@Html.DisplayFor(modelItem => modelItem.FirstOrDefault().smintAnioIniPremio)
                                                a C @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().smintCampFinPremio)
                                                _@Html.DisplayFor(modelItem => modelItem.FirstOrDefault().smintAnioFinPremio)
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <b>Inicio y Fin de Campaña Recupero</b><br />
                                            <div class="col-md-10">
                                                C @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().smintCampIniPedido)
                                                _@Html.DisplayFor(modelItem => modelItem.FirstOrDefault().smintAnioIniPedido)
                                                a C @Html.DisplayFor(modelItem => modelItem.FirstOrDefault().smintCampFinPedido)
                                                _@Html.DisplayFor(modelItem => modelItem.FirstOrDefault().smintAnioFinPedido)
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-2 btn btn-default" style="position:relative;">
                                            @Html.ActionLink("Nuevo Premio", "CreatePremio", null, new { data_modal = "", style = "color:white" })
                                        </div>
                                        <div class="col-md-1"></div>
                                    </div>

                                </div>
                                <br />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
        else
        {
            <div class="row">
            </div>
            }

        <hr>

        @foreach (var item in Model)
        {
            <div class="row">


                <div class="gallery">
                   
                    @if (item.imgImagen == null)
                    {
                        <img src="~/images/interrogacion.jpg" alt="Imagen" width="300" height="200">
                    }
                    else
                    {

                        var base64 = Convert.ToBase64String(item.imgImagen);
                        var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

                        <img src="@imgSrc" alt="Imagen" width="300" height="200" />
                    }

                </div>

                <div class="row form-inline">

                    <fieldset id="fdrow">
                        <div class="col-md-1" style="text-align:left;">
                            <b style="color:#ff7810">SAP</b><br />
                            <b>@Html.DisplayFor(modelItem => item.intCodigoSAP)</b>
                        </div>
                        <div class="col-md-1" style="text-align:left;">
                            <b style="color:#ff7810">Código</b><br />
                            <b>@Html.DisplayFor(modelItem => item.intCodigoCorto)</b>
                        </div>
                        <div class="col-md-2" style="text-align:justify;">
                            <b style="color:#ff7810">Título</b><br />
                            @Html.DisplayFor(modelItem => item.vchTitulo)
                        </div>
                        <div class="col-md-3" style="text-align:justify;">
                            <b style="color:#ff7810">Descripción</b><br />
                            @Html.DisplayFor(modelItem => item.vchDescripcion)
                        </div>

                        <div class="col-md-1" style="text-align:right;">
                            <b style="color:#ff7810">Stock</b><br />
                            <b>@Html.DisplayFor(modelItem => item.smintStock) Pzs</b>
                        </div>
             
                        <div class="col-md-1"><br />@Html.DisplayFor(modelItem => item.bitActivo)</div>
                        <div class="col-md-1 btn btn-default btn-file">
                          
                            Imagen<input type="file" id="fuImagen" name=@item.intCodigo accept=".jpg">
                          
                        </div>
                      
                        <div class="col-md-1 btn btn-default">
                        
                            @Html.ActionLink("Editar", "EditImg", new { id = item.intCodigoSAP }, new { data_modal = "", style = "color:white" })
                        </div>
                    </fieldset>
                </div>
            </div>

            <hr>
        }
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>



    <!-- Este script permite mantener la posición de la página cuando se refresca ***************** -->
    <script>
        window.onload = function () {
            var pos = window.name || 0;
            window.scrollTo(0, pos);
        }
        window.onunload = function () {
            window.name = self.pageYOffset || (document.documentElement.scrollTop + document.body.scrollTop);
        }
    </script>
    <!-- Se cierra el Script -->



</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalTitulo"></h4>
            </div>
            <div class="modal-body">
                <span id="mensaje"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                @*<button type="button" class="btn btn-primary" id="btnEliminar" data-eliminar="">Eliminar</button>*@
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var file
    var name

    $(document).ready(function () {


        $('input[type="file"]').change(function (e) {

            name = e.target.name;
           
            if (name != 'excel') {

                file = e.target.files[0];

                var fileData = new FormData();
                fileData.append(file.name, file);

                var intCodigo = e.target.name;

                fileData.append('intCodigo', intCodigo);
                $.ajax({
                    url: '../Premios/UploadImg',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {

                        if (result == "Status de Importacion: Se subio correctamente la imagen.")
                            window.location.href = '../Premios/PremiosIndex';
                        else {
                            $("#myModal").modal();
                            $("#myModalTitulo").text('Mensaje');
                            $("#mensaje").text(result);
                        }

                    },
                    error: function (err) {
                        $("#myModal").modal();
                        $("#myModalTitulo").text('Mensaje');
                        $("#mensaje").text(err.statusText);

                    }
                });

            }

        });

    });


    $(function () {
        $("#btnImportar").click(function () {
            var fileUpload = $("#FileUpload1").get(0);
            var files = fileUpload.files;

            var fileData = new FormData();
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }
            fileData.append('username', 'Manas');

            $.ajax({
                url: '../Premios/UploadFiles',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result) {

                    $("#myModal").modal();
                    $("#myModalTitulo").text('Mensaje');
                    $("#mensaje").text(result);
                },
                error: function (err) {
                    $("#myModal").modal();
                    $("#myModalTitulo").text('Mensaje');
                    $("#mensaje").text(err.statusText);

                }
            });
        });

        $("#btnAlta").click(function () {
            $.ajax({
                url: '../Premios/AgregarPremios',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                //data: fileData,
                success: function (result) {

                    if (result == "Se actualizó los datos de Premios correctamente.")
                        window.location.href = '../Premios/PremiosIndex';
                    else {
                        $("#myModal").modal();
                        $("#myModalTitulo").text('Mensaje');
                        $("#mensaje").text(result);
                    }
                },
                error: function (err) {
                    $("#myModal").modal();
                    $("#myModalTitulo").text('Mensaje');
                    $("#mensaje").text(err.statusText);
                    //alert(err.statusText);
                }
            });
        });

        $("#btnEliminar").click(function () {
            $.ajax({
                url: '../Premios/EliminarPlan',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                //data: fileData,
                success: function (result) {

                    if (result == "Se eliminó correctamente el Plan de Ganamas.")
                        window.location.href = '../Premios/PremiosIndex';
                    else {
                        $("#myModal").modal();
                        $("#myModalTitulo").text('Mensaje');
                        $("#mensaje").text(result);
                    }
                },
                error: function (err) {
                    $("#myModal").modal();
                    $("#myModalTitulo").text('Mensaje');
                    $("#mensaje").text(err.statusText);
                    //alert(err.statusText);
                }
            });
        });


    });

</script>

