@model IEnumerable<waEligeTuPremio.Models.NavbarItem>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>


<div class="navbar navbar-default ">
    <div class="container" style="background-color: white;">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @*@Html.ActionLink("Yanbal", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            <a><img src="~/images/logo.png" /></a> @*href='@Url.Action("InicioIndex", "Inicio")'*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @foreach (var item in Model)
                {
                    if (!item.isParent && item.parentId == -1)
                    {
                        <li><a href="@Url.Action(item.action,item.controller)">@item.nameOption</a></li>
                    }
                    else if (item.isParent && item.parentId == -1)
                    {
                        var childItems = Model.Where(p => p.parentId == item.Id).ToList();
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="@Url.Action(item.action,item.controller)">
                                @item.nameOption
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var ch in childItems)
                                {
                                    <li><a href="@Url.Action(ch.action,ch.controller)">@ch.nameOption</a></li>
                                }
                            </ul>
                        </li>
                    }
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" style="color:orange;">
                        <span class="glyphicon glyphicon-user"></span>
                        @{
                            string usr = "";
                            string codigo = "";
                            foreach (var menu in Model)
                            {
                                usr = menu.nameUsr;
                                codigo = menu.VchUsuario;
                            }
                        }
                        @usr

                        <script>
                            window.dataLayer = window.dataLayer || [];
                            dataLayer.push({
                                'consultantId': '@codigo',
                                'consultantName': '@usr'
                            });

                            @*$(document).ready(function () {
                                alert(@codigo );
                            });*@
                        </script>

                    </a>
                </li>
                <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Navigation")</li>
            </ul>
        </div>

    </div>
</div>

