<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <script src="~/Scripts/jquery.uploadify.js"></script>*@

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/jquery.uploadify.js"></script>


    <style>
        .form {
            position: relative;
            z-index: 1;
            background: #FFFFFF;
            max-width: 350px;
            margin: 0 auto 100px;
            padding: 20px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            text-align: center;
        }

        body {
            background-color: #ff7810;
            font-family: "Roboto", sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        .container1 {
            position: relative;
            z-index: 1;
            max-width: 300px;
            margin: 0 auto;
        }

        .btn-default {
            color: white;
            background-color: #ff7810;
            border-color: #ff7810;
        }
    </style>

</head>
<body>

    <div class="navbar navbar-default ">
        <div class="container" style="background-color: white;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href='@Url.Action("Index", "Login")'><img src="~/images/logo.png" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    </li>
                    <li>@Html.ActionLink("Staff", "LoginStaff", "LoginStaff", null, new { @style = "color:black;" })</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container body-content">
        @RenderBody()
        <br />
        <br />
        <br />
        @*<hr />*@
        @*<footer class="footer2">
            <div class="container">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-4 text-right">
                        <p>Copyright © @DateTime.Now.Year -  All rights reserved Yanbal.</p>
                    </div>
                </div>
            </div>

        </footer>*@
    </div>


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/modalform.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<div id="modalGenerica" class="modal fade in" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='contentModal'></div>
        </div>
    </div>
</div>
