@model waEligeTuPremio.Models.TBPremioModel

@using (Html.BeginForm("PremioEliminar", "PremioNew"))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.intPremio)

            <dl class="dl-horizontal">
                <dt>
                    Premio
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.intPremio)
                </dd>

                <dt>
                    CodigoSAP
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.intCodigoSAP)
                </dd>

                <dt>
                    CodigoCorto
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.intCodigoCorto)
                </dd>

                <dt>
                    Orden
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.intOrden)
                </dd>

                <dt>
                    Titulo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vchTitulo)
                </dd>

                <dt>
                    Descripcion
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.vchDescripcion)
                </dd>

                <dt>
                    Stock
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.smintStock)
                </dd>

                <dt>
                    StockrReal
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.smintStockrReal)
                </dd>

                <dt>
                    Puntos
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.smintPuntos)
                </dd>

                <dt>
                    Activo
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.bitActivo)
                </dd>

                <dt>
                    Fecha Registro
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.dttmFecha)
                </dd>



                <dt>
                    Nivel
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.intNivel)
                </dd>

                <dt>
                    Por Defecto
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.bitInicial)
                </dd>




                <dt>
                    NombreImagen
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NombreImagen)
                </dd>



            </dl>

        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button id="saveOrder" type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>
    @*<div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>*@
}
